
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">
        Copyright &copy; Your Website 2023
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"
          >   <fa-icon [icon]="['fab', 'twitter']" [style.color]="'white'"></fa-icon>
        </a>
        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"
          >  <fa-icon [icon]="['fab', 'facebook']" [style.color]="'white'"></fa-icon>
        </a>
        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Instagram"
          > <fa-icon [icon]="['fab', 'instagram']" [style.color]="'white'"></fa-icon>
        </a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3" href="#!"
          >Privacy Policy</a
        >
        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
      </div>
    </div>
  </div>
</footer>
