<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container bootstrap snippets bootdey">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a href="#">
            <img
              src="https://bootdey.com/img/Content/avatar/avatar3.png"
              alt=""
            />
          </a>
          <h1>Camila Smith</h1>
          <p>deydey@theEmail.com</p>
        </div>

        <ul class="nav nav-pills nav-stacked flex-column">
          <li class="active">
            <a href="#"> <i class="fa fa-user"></i> Profil</a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-calendar"></i> İlanlarınız
              <span class="label label-warning pull-right r-activity"
                >9</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="bio-graph-heading">
          <h4>İlanlarım</h4>
          <br />
          <div class="buttons">
            <button class="ilanGoruntule" (click)="showPopup()">
              İlanlarımı Görüntüle
            </button>
            <button class="ilanEkle" (click)="showIlanEkle()">İlan Ekle</button>
          </div>

          <div *ngIf="!isPopupVisible" class="ilanPopup">
            <div class="ilanPopup-content" *ngFor="let notice of notices">
              <span (click)="closePopup()" class="ilanClose-popup"
                >&times;</span
              >

              <!-- İlan Bilgileri -->
              <div class="ilanBilgileri" *ngIf="!isEditing">
                <p>İlan Adı: {{ notice.noticeTitle }}</p>
                <p>İlan Kategorisi: {{ notice.noticeCategoryName }}</p>
                <p>İlan Açıklaması: {{ notice.noticeDescription }}</p>
              </div>

              <!-- Düzenleme Modu -->
              <div *ngIf="isEditing" class="form-group">
                <label for="editIlanAdi">İlan Adı</label>
                <input
                  type="text"
                  [(ngModel)]="editedIlanAdi"
                  name="editIlanAdi"
                  class="form-control"
                />
              </div>
              <div *ngIf="isEditing" class="form-group">
                <label for="editIlanKategorisi">İlan Kategorisi</label>
                <input
                  type="text"
                  [(ngModel)]="editedIlanKategorisi"
                  name="editIlanKategorisi"
                  class="form-control"
                />
              </div>
              <div *ngIf="isEditing" class="form-group">
                <label for="editIlanTarihi">İlan Tarihi</label>
                <input
                  type="text"
                  [(ngModel)]="editedIlanTarihi"
                  name="editIlanTarihi"
                  class="form-control"
                />
              </div>

              <!-- Kaydet Butonu -->
              <button
                class="ilanKaydet"
                *ngIf="isEditing"
                (click)="kaydetIlan()"
              >
                Kaydet
              </button>

              <!-- Düzenleme ve Silme Butonları (Düzenleme Modu Kapalıysa Göster) -->
              <div *ngIf="!isEditing" class="buttons">
                <button class="ilanSil" (click)="ilanSil(notice.id)">
                  İlan Sil
                </button>
                <button class="ilanDuzenle" (click)="duzenleIlan()">
                  İlan Düzenle
                </button>
              </div>
            </div>
          </div>

          <!-- İlan Ekle -->
          <div *ngIf="ilanEkleVisible" class="ilanPopup">
            <div class="ilanPopup-content">
              <span (click)="closeIlanEkle()" class="ilanClose-popup"
                >&times;</span
              >
              <div class="form-group">
                <label for="ilanAdi">İlan Adı</label>
                <input
                  type="text"
                  [(ngModel)]="addIlanAdi"
                  name="ilanAdi"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="ilanKategorisi">İlan Kategorisi</label>
                <input
                  type="text"
                  [(ngModel)]="addIlanKategorisi"
                  name="ilanKategorisi"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="ilanTarihi">İlan Tarihi</label>
                <input
                  type="text"
                  [(ngModel)]="addIlanTarihi"
                  name="ilanTarihi"
                  class="form-control"
                />
              </div>
              <button type="submit" class="ilanKaydet" (click)="ekleIlan()">
                Kaydet
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
