.custom-text-logo {
    font-family: 'Pacifico', cursive; /* Pacifico yazı tipini kullanır */
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: yellow;
    text-transform: uppercase;
    /* Diğer stil özelliklerini burada özelleştirebilirsiniz */
}


