<!-- SIDEBAR -->
<section id="sidebar" [ngClass]="status ? 'hide' : ''">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AdminDashboard</span>
  </a>
  <ul class="side-menu top">
    <li class="active">
      <a href="/admin">
        <i class='bx bxs-dashboard'></i>
        <span class="text">Mentörler</span>
      </a>
    </li>
    <li>
      <a href="/usercategory">
        <i class='bx bxs-shopping-bag-alt'></i>
        <span class="text">Kategoriler</span>
      </a>
    </li>
    <li>
      <!-- <a href="#">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Analytics</span>
        </a>
      </li> -->
      <!-- <li>
        <a href="#">
          <i class='bx bxs-message-dots' ></i>
          <span class="text">Message</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bxs-group' ></i>
          <span class="text">Team</span>
        </a>
      </li> -->
  </ul>
  <ul class="side-menu">
    <!-- <li>
        <a href="#">
          <i class='bx bxs-cog' ></i>
          <span class="text">Settings</span>
        </a>
      </li> -->
    <li>
      <a href="#" class="logout">
        <i class='bx bxs-log-out-circle'></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>

<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu' ></i> 
    <a href="#" class="nav-link"></a>
    <form action="#">
      <div class="form-input">
      </div>
    </form>
    <a href="#" class="profile">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
      
      </div>
    </div>

    <ul class="box-info">
      <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text">
          <h3>{{ categoryCount }}</h3>
          <p>Kategoriler</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>{{ userCount }}</h3>
          <p>Mentörler</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-dollar-circle'></i>
        <span class="text">
          <h3>{{ noticeCount }}</h3>
          <p>İlanlar</p>
        </span>
      </li>
    </ul>

       <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Mentör Bilgileri</h3>
        </div>
        <table>
          <thead>
            <tr>
              <th>Kullanıcı Adı</th>
              <th>Ad ve Soyad</th>
              <th>E-mail</th>
        <th> <button class="addMentor" (click)="toggleAddUserPopup()">Yeni Mentör Ekle</button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                <img
                  src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g"
                />
                <p>{{ user.userName }}</p>
              </td>
              <td>
                <p>{{ user.fullName }}</p>
              </td>
              <td>
                <p>{{ user.email}}</p>
              </td>
              <td>
         <button type="button" class="delete-button" (click)="deleteMentor(user.id)">Sil</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <!-- Modal  -->
    <div id="modal" *ngIf="isAddUserPopupOpen">
      <div class="modal-window">
        <a title="Close" class="modal-close" (click)="toggleAddUserPopup()">&times;</a>
        <h3>Kullanıcı Ekle</h3>
        <form>
          <div class="form-group">
            <label for="userName" required>Kullanıcı Adı:</label>
            <input type="text" id="userName" [(ngModel)]="addNewUserRequest.userName" name="newUserName">
          </div>
          <div class="form-group">
            <label for="fullName" required>Kullanıcı Full Ad:</label>
            <input type="text" id="fullName" [(ngModel)]="addNewUserRequest.fullName" name="newFullName">
          </div>
          <div class="form-group">
            <label for="email" required>Kullanıcı Mail:</label>
            <input type="text" id="email" [(ngModel)]="addNewUserRequest.email" name="newEmail">
          </div>
          <div class="form-group">
            <label for="email" required>Şifre:</label>
            <input type="text" id="email" [(ngModel)]="addNewUserRequest.password" name="newEmail">
          </div>
          <button type="button" (click)="addNewUser()">Kaydet</button>
        </form>
      </div>
    </div>
  </main>
</section>
