<section class="page-section">
<div class="filter-box">
<select class="form-select form-select-sm" aria-label="Kategori seçiniz" [(ngModel)]="selectedCategory" (change)="filterNotices()">
  <option value="">Kategori seçiniz</option>
  <option *ngFor="let category of categories" [value]="category">{{ category.category_Name }}</option>
</select>
</div>
  <div class="containerads" *ngFor="let notice of filteredNotices">
    <div class="itemsads"  >
      <div class="photoads">
        <img
          class="imgads"
          src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png"
        />
      </div>
      <div class="leftads" id="fullads">
        <div class="social-iconsads">
          <p class="share-btnads">
            {{ notice.noticeTitle }}
          </p>
          <p class="share-btnads text-muted">
            {{ notice.noticeCategoryName }}
          </p>
        </div>
        <div class="buttonsads">
          <a class="contactads" [routerLink]="['/contact', notice.id]"
            >İletişime geç</a
          >
        </div>
      </div>
    </div>
    <div class="rightads">
      <p class="adsp">
          {{notice.noticeDescription}}
      </p>
      <p class="adsp">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
</section>