<section class="page-section">
<div class="containerads">
    <div class="itemsads">
        <div class="photoads">
            <img class="imgads" src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png"/>
        </div>
        <div class="leftads" id="fullads">
            <div class="social-iconsads">
                <p class="share-btnads">
                    Yazılım
                </p>
                <p class="share-btnads">
                    Dotnet
                </p>
                <p class="share-btnads">
                    Angular
                </p>
                <p class="share-btnads">
                    <i class="fab fa-github"></i>
                </p>
                <p class="share-btnads">
                    <i class="fab fa-linkedin"></i>
                </p>
            </div>
            <div class="buttonsads">
                <a href="" class="contactads">İletişime geç</a>
                <!-- <a href="" class="downloadads">Download</a> -->
            </div>
        </div>
    </div>
    <div class="rightads">
        <p class="adsp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="adsp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p class="adsp">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div> 
</div>
</section>
<!-- <div class="togglerads">
    <span style="background: linear-gradient(to right, #fc6767, #ec008c);"></span>
    <span style="background: linear-gradient(to right, #24bc0d, #00c157, #00c584, #00c6a6, #0fc6be);"></span>
    <span style="background: linear-gradient(to right, #232faa, #006bdb, #009df0, #00cbf2, #0cf6ec);"></span>
    <span style="background: linear-gradient(to right, #21D4FD, #B721FF);"></span>
    <span style="background: linear-gradient(to right, #F76B1C, #FAD961);"></span>
</div> -->

<!-- <section class="page-section" id="ads">
    <div></div>
</section> -->