
.containerads{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	min-height: 350px;
	margin: auto;
	max-width: 1000px;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(255, 255, 255, 0.25);
    z-index: 10;
	backdrop-filter: blur(25px);
    border: 1px solid rgba(255,255,255,0.5);
}
.imgads{
	height: 100px;
	border-radius: 50px;
	border: 5px solid rgba(255,255,255,0.5);
}
.photoads{
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 20px;
}
.social-iconsads{
	display: inline-flex;
	justify-content: space-around;
	align-content: space-between;
	width: 100%;
	float: left;
	padding: 50px;
}
.share-btnads {
	cursor: pointer;
	font-size: 30px;
	color: #000;
}
.buttonsads{
	display: inline-flex;
	justify-content: space-around;
	align-content: space-between;
	width: 100%;
	float: left;
	padding: 20px;
}
.contactads, .downloadads{
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	width: 150px;
    cursor: pointer;
    padding: 15px;
    font-weight: 900;
    color: #000;
    background: rgba(255,255,255,.3);
    border: 1px solid rgba(255,255,255,0.5);
}
.contactads:hover, 
.downloadads:hover{
	background: rgba(255,255,255,.8);
}

.rightads{
	width: 60%;
	border-radius: 20px;
	padding: 25px;
	float: right;
	text-align: justify;
    text-justify: inter-word;
    background: rgba(255,255,255,.3);
}


