.ftco-section {
  background-color: #f8f9fa; 
  padding: 80px 0; 
}


.heading-section {
  color: #ffcc29;
  font-size: 36px; 
  text-align: center;
  margin-bottom: 40px;
}


.wrap {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #000, #ffcc29, #fff); /* Siyahdan sarıya geçişli arkaplan */
  color: #fff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Gölge efekti */
}


.text-wrap {
  flex-basis: 50%;
  padding: 40px;
}

.text h2 {
  color: #ffcc29; 
  font-size: 24px; 
}

.text p {
  font-size: 16px; 
  color: #333; 
}

.btn-white {
  background-color: transparent;
  border: 2px solid #ffcc29; 
  color: #ffcc29; 
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #000;
    color: #fff; 
  }
}


.login-wrap {
  flex-basis: 50%;
  padding: 40px;
}

.signin-form .form-control {
  background-color: #fff; 
  color: #333; 
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.signin-form button[type="submit"] {
  background-color: #ffcc29; 
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #000; 
    color: #fff; 
  }
}


.signin-form .form-group label.label {
  color: #ffcc29; 
}


.checkbox-wrap {
  label {
    color: #ffcc29;
  }

  input[type="checkbox"]:checked + .checkmark {
    background-color: #ffcc29;
    border-color: #ffcc29; 
  }
}

