<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Nasıl Çalışır?</h2>
      <h3 class="section-subheading text-muted">
       "Sizin Yolculuğunuz, Bizim Rehberliğimiz"
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/howitworks/howitworks1.png"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Büyümenin Anahtarı: <br> Doğru Mentorla Buluşmak </h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
             Mentörlük desteği almak için istediğin kategoride üye uzmanlarımızın profilini inceleyebilir, dilediğin mentor.  </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/howitworks/howitworks3.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">İletişime Geç</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              İstediğin kategoride seçtiğin mentorle iletişime geçmek için formu doldur. Mentorun sana ulaşsın!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/howitworks/howitworks2.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Becerilerinizi Geliştirin</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Her mentor kariyerinizi yükseltmenize yardımcı olmak için farklı hizmetler sunar.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <img
            class="rounded-circle img-fluid"
            src="assets/img/howitworks/howitworks4.jpg"
            alt="..."
          />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="subheading">Hedefine Ulaş</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
             Kendinizi keşfetmek için çok iyi bir fırsatınız var. FindMentor olarak size en iyi uzmanı bulmak için buradayız. 
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Birlikte
            <br />
            Başarıya
            <br />
            Yol Almak!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
