
.ftco-section {
  background: linear-gradient(
    to right,
    black,
    #f1c638,
    #f1df8b
  ); /* Siyahdan sarıya geçişli arkaplan */
  padding: 80px 0;
}

.heading-section {
  color: #ffcc29;
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    black,
    #f1c638,
    #f1df8b
  ); /* Siyahdan sarıya geçişli arkaplan */
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Gölge efekti */
  //benim eklediklerim
  align-items: center;
  overflow: hidden;
  max-height: 100vh;
  
}

.text-wrap {
  flex-basis: 50%;
  padding: 40px;
}

.text h2 {
  color: #ffcc29;
  font-size: 24px;
}

.text p {
  font-size: 18px;
  color: #333;
}

.btn-black {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn-black:hover {
  background-color: #333;
  border-color: #333;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.login-wrap {
  flex-basis: 40%;
  padding: 40px;
}

.registration-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.registration-form .form-group {
  //flex-basis: 48%; //yanyana getiriyo
  margin-bottom: 40px;

}

.registration-form .form-group label.label {
  color: #ffcc29;
}
.form-group button{
  color:black;
}

// .button-container {
//   margin-top: 420px; /* Giriş Yap butonunu aşağı kaydırma miktarı */
// } //giriş yap butonunu aşağı almak için


//Responsive Yapma

@media (max-width: 768px) {
  .wrap {
    flex-direction: column;
  }

  .text-wrap,
  .login-wrap {
    flex-basis: 100%;
  }
  
  .registration-form .form-group {
    flex-basis: 100%;
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .registration-form .form-group {
    flex-basis: 48%;
  }
}

// .button-container {
//   margin-top: 420px; /* Giriş Yap butonunu aşağı kaydırma miktarı */
// }







