<app-navbar></app-navbar>
<br />
<br />
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-8"> <!-- col-lg-8 ile login kartını küçültüyoruz -->
        <div class="wrap d-md-flex">
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Kayıt Ol</h3>
              </div>
            </div>
            <form action="#" class="registration-form">
              <div class="form-group mb-3">
                <label class="label" for="name">Adınız</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="registerRequest.UserName" [ngModelOptions]="{standalone: true}" />
              </div>
              <div class="form-group mb-3">
                <label class="label" for="surname">Soyadınız</label>
                <input type="text" class="form-control" id="surname" required [(ngModel)]="registerRequest.fullName" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="email">E-mail</label>
                <input type="email" class="form-control" id="email" required [(ngModel)]="registerRequest.Email" [ngModelOptions]="{standalone: true}" />
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Şifre</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  required [(ngModel)]="registerRequest.Password" [ngModelOptions]="{standalone: true}"
                />
              </div>
              <div class="form-group text-center">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm submit px-4" 
                >
                  Kayıt Ol
                </button>
              </div>
            </form>
          </div>
          <div
            class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last"
          >
            <div class="text w-100">
              <p>Zaten bir hesabınız var mı?</p>
              <a href="/login" class="btn btn-black btn-outline-black"
                >Giriş Yap</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

