<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Hakkımızda</h2>
            <h3 class="section-subheading text-muted">Yeni bir beceri öğrenin, hayalinizdeki kariyere ulaşın.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> -->
                    <fa-icon [icon]="faCircle" stackItemSize="2x" class="text-primary" ></fa-icon>
                    <!-- <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    <fa-icon [icon]="faSchool" stackItemSize="1x" [inverse]="true"></fa-icon>
                </span>
                <h4 class="my-3">Kategori</h4>
                <p class="text-muted">Kendinizi geliştirmek ve kariyerinize yön vermek istediğiniz alana kategorilerimizden ulaşın.</p>
                <div class="sayac-content">
                    <span class="cate-counter"></span>
                    <span>+</span>
                    <label class="cate-text">Kategori</label>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> -->
                    <fa-icon [icon]="faCircle" stackItemSize="2x" class="text-primary" ></fa-icon>
                    <!-- <i class="fas fa-laptop fa-stack-1x fa-inverse"></i> -->
                    <fa-icon [icon]="faPersonChalkboard" stackItemSize="1x" [inverse]="true"></fa-icon>
                </span>
                <h4 class="my-3">Mentör</h4>
                <p class="text-muted">Alanında uzman mentörlerimiz hedefinize ulaşmada size yol gösterir.</p>
                <div class="sayac-content">
                    <span class="mentor-counter"></span>
                    <span>+</span>
                    <label class="cate-text">Mentör</label>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <!-- <i class="fas fa-circle fa-stack-2x text-primary"></i> -->
                    <fa-icon [icon]="faCircle" stackItemSize="2x" class="text-primary" ></fa-icon>
                    <!-- <i class="fas fa-lock fa-stack-1x fa-inverse"></i> -->
                    <fa-icon [icon]="faChalkboardUser" stackItemSize="1x" [inverse]="true"></fa-icon>
                </span>
                <h4 class="my-3">Mentee</h4>
                <p class="text-muted">Hedefiniz için doğru mentörü bulmanıza anında yardımcı olalım.</p>
                <div class="sayac-content">
                    <span class="mentee-counter"></span>
                    <span>+</span>
                    <label class="cate-text">Mentee</label>
                </div>
            </div>
        </div>
    </div>
</section>