.cate-counter:before {
    content: "0";
    animation: cateones 2s linear forwards;
    animation-iteration-count: 1;
    font-size: x-large;
  }
  @keyframes cateones {
    0% {
        content: "0";
      }
      10% {
        content: "1";
      }
      20% {
        content: "2";
      }
      30% {
        content: "3";
      }
      40% {
        content: "4";
      }
      50% {
        content: "5";
      }
      60% {
        content: "6";
      }
      70% {
        content: "7";
      }
      80% {
        content: "8";
      }
      90% {
        content: "9";
      }
      100% {
        content: "10";
      }
  }
  
  .mentor-counter:before {
    content: "0";
    animation: mentorones 2s linear forwards;
    animation-iteration-count: 1;
    font-size: x-large;
  }
  @keyframes mentorones {
    0% {
        content: "0";
      }
      5% {
        content: "1";
      }
      10% {
        content: "2";
      }
      15% {
        content: "3";
      }
      20% {
        content: "4";
      }
      25% {
        content: "5";
      }
      30% {
        content: "6";
      }
      35% {
        content: "7";
      }
      40% {
        content: "8";
      }
      45% {
        content: "9";
      }
      50% {
        content: "10";
      }
      55% {
        content: "11";
      }
      60% {
        content: "12";
      }
      65% {
        content: "13";
      }
      70% {
        content: "14";
      }
      75% {
        content: "15";
      }
      80% {
        content: "16";
      }
      85% {
        content: "17";
      }
      90% {
        content: "18";
      }
      95% {
        content: "19";
      }
      100% {
        content: "20";
      }
  }
  
  .mentee-counter:before {
    content: "0";
    animation: menteeones 2s linear forwards;
    animation-iteration-count: 1;
    font-size: x-large;
  }
  @keyframes menteeones {
    0% {
      content: "0";
    }
    10% {
      content: "1";
    }
    20% {
      content: "3";
    }
    30% {
      content: "7";
    }
    40% {
      content: "10";
    }
    50% {
      content: "12";
    }
    60% {
      content: "15";
    }
    70% {
      content: "19";
    }
    80% {
      content: "22";
    }
    90% {
      content: "25";
    }
    100% {
      content: "28";
    }
  }
  .cate-text{
    margin-left: 15px;
    font-size: x-large;
  }